# Copyright (c) 2026 ttldtor.
# SPDX-License-Identifier: BSL-1.0

BasedOnStyle: LLVM
ColumnLimit: 120
ContinuationIndentWidth: 4
IndentPPDirectives: AfterHash
TabWidth: 4
IndentWidth: 4
UseTab: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
IndentAccessModifiers: false
AccessModifierOffset: 0
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never
MaxEmptyLinesToKeep: 1
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
InsertNewlineAtEOF: true
